<li
  class="channel"
  [ngClass]="{ channel_active: selected }"
  (click)="setChat(chatListItem.id)"
  (contextmenu)="onRightClick($event, chatListItem.id)"
>
  <div class="channel__content">
    <div class="channel__img"></div>
    <div class="channel__info">
      <span class="channel__name">{{ chatListItem.name }}</span>
      <div class="channel__message">
        <span class="channel__message-user">{{ getLastMessageUser() }}</span>
        <span class="channel__message-value">{{ getLastMessage() }}</span>
      </div>
    </div>
  </div>
  <div class="channel__last-time">{{ formatDate() }}</div>
</li>
