@import "_variables";
.messenger {
    height: 100%;
    padding: 15px 0;
    &__container {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: #ffffff;
    }
    &__chats {
        flex: 0 0 30%;
        border-right: 1px solid $borderColor;
    }
    &__chat {
        flex: 0 0 70%;
    }
}
