<div class="chat-sidebar">
    <div class="chat-sidebar__header">
        <button class="chat-sidebar__btn">
            <i class="chat-sidebar__burger-icon fas fa-bars fa-2x"></i>
        </button>
        <input class="chat-sidebar__search" type="text" placeholder="Поиск">
    </div>
    <ul class="chat-sidebar__chat-list chat-list">
        <li class="chat-list__item item item_active">
            <div class="item__content">
                <div class="item__img">
                </div>
                <div class="item__info">
                    <span class="item__name">Никнейм</span>
                    <span class="item__message">Сообщение</span>
                </div>
            </div>
            <div class="item__time">
                16:00
            </div>
        </li>
        <li class="chat-list__item item">
            <div class="item__content">
                <div class="item__img">
                </div>
                <div class="item__info">
                    <span class="item__name">Никнейм</span>
                    <span class="item__message">Сообщение</span>
                </div>
            </div>
            <div class="item__time">
                16:00
            </div>
        </li>
        <li class="chat-list__item item">
            <div class="item__content">
                <div class="item__img">
                </div>
                <div class="item__info">
                    <span class="item__name">Никнейм</span>
                    <span class="item__message">Сообщение</span>
                </div>
            </div>
            <div class="item__time">
                16:00
            </div>
        </li>
        <li class="chat-list__item item">
            <div class="item__content">
                <div class="item__img">
                </div>
                <div class="item__info">
                    <span class="item__name">Никнейм</span>
                    <span class="item__message">Сообщение</span>
                </div>
            </div>
            <div class="item__time">
                16:00
            </div>
        </li>
        <li class="chat-list__item item">
            <div class="item__content">
                <div class="item__img">
                </div>
                <div class="item__info">
                    <span class="item__name">Никнейм</span>
                    <span class="item__message">Сообщение</span>
                </div>
            </div>
            <div class="item__time">
                16:00
            </div>
        </li>
        <li class="chat-list__item item">
            <div class="item__content">
                <div class="item__img">
                </div>
                <div class="item__info">
                    <span class="item__name">Никнейм</span>
                    <span class="item__message">Сообщение</span>
                </div>
            </div>
            <div class="item__time">
                16:00
            </div>
        </li>
    </ul>
</div>