<div class="auth">
    <form class="auth__form form" (ngSubmit)="onSubmit()" [formGroup]="registrationFormGroup">
        <div class="form__header">
            <a class="form__back back" mat-icon-button [routerLink]="'/authentification/login'">
                <mat-icon class="back__icon">west</mat-icon>
            </a>
            <h1 class="title">Регистрация</h1>
        </div>
        <mat-form-field class="form__field" appearance="standard">
            <mat-label class="form__label">Enter your email</mat-label>
            <input class="form__input" matInput placeholder="pat@example.com" formControlName="email">
            <mat-error *ngIf="registrationFormGroup.get('email').invalid">
                {{getErrorMessage(registrationFormGroup.get('email'), 'Некорректный email')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form__field" appearance="standard">
            <mat-label class="form__label">Enter your login</mat-label>
            <input class="form__input" matInput formControlName="login">
            <mat-error *ngIf="registrationFormGroup.get('login').invalid">
                {{getErrorMessage(registrationFormGroup.get('login'), 'Только латинские символы')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form__field" appearance="standard">
            <mat-label class="form__label">Enter your password</mat-label>
            <input class="form__input" matInput [type]="hidePass ? 'password' : 'text'" placeholder="paSsword!"
                formControlName="password">
            <mat-error *ngIf="registrationFormGroup.get('password').invalid">
                {{getErrorMessage(registrationFormGroup.get('password'),
                'Пароль должен содержать не менее 8 знаков, включать минимум 1 заглавную букву и спецсимвол')}}
            </mat-error>
            <button class="form__pass-hidePass" mat-icon-button matSuffix (click)="hidePass = !hidePass"
                [attr.aria-label]="'hidePass password'" [attr.aria-pressed]="hidePass">
                <mat-icon class="form__icon">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button class="form__action" mat-flat-button color="primary" (click)="register()">Зарегистрироваться</button>
    </form>
</div>