<div class="sidebar">
  <div class="sidebar__header">
    <button class="sidebar__btn" mat-icon-button [matMenuTriggerFor]="userMenu">
      <img class="sidebar__btn-icon" src="../../../assets/svg/toc.svg" alt="Выбрать">
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <img class="menu-icon" src="../../../assets/svg/settings.svg" alt="Настройки">
        <span>Настройки</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <img class="menu-icon" src="../../../assets/svg/logout.svg" alt="Выйти">
        <span>Выйти</span>
      </button>
    </mat-menu>
    <input class="sidebar__search" type="text" placeholder="Поиск">
  </div>
  <button class="sidebar__new-chat-btn" mat-stroked-button color="warn" (click)="openDialogNewChat()">Новый чат</button>
  <app-chats-list class="sidebar__list" [currentChat]="currentChat" [userChats]="chatsList"
    *ngIf="chatsList?.length > 0">
  </app-chats-list>
</div>