<div class="chat__header">
  <div class="chat__channel channel">
    <span class="channel__name">{{currentChat && currentChat.name}}</span>
  </div>
  <div class="chat__tools">
    <button class="chat__btn" mat-icon-button>
      <img class="chat__btn-icon" src="../../../assets/svg/search.svg" alt="Поиск">
    </button>
    <button class="chat__btn" mat-icon-button (click)="closeChat()">
      <img class="chat__btn-icon" src="../../../assets/svg/close.svg" alt="Закрыть">
    </button>
  </div>
</div>