<div class="chat__footer" #chatFooter (resized)="onResize($event)">
  <div class="chat__tools">
    <button class="chat__btn" mat-icon-button>
      <mat-icon class="chat__btn-icon">add_circle_outline</mat-icon>
    </button>
  </div>
  <div class="chat__write-message" contenteditable="plaintext-only" placeholder="Введите сообщение"
    (keydown.enter)="onEnter($event)" (keydown)="onKeydown($event)" #messageInput>
  </div>
  <div class="chat__tools">
    <button class="chat__btn" mat-icon-button color="primary">
      <mat-icon class="chat__btn-icon" (click)="sendMessage(messageInput.textContent)">send</mat-icon>
    </button>
  </div>
</div>