<div class="chat__footer" #chatFooter (resized)="onResize($event)">
  <div class="chat__tools">
    <button class="chat__btn" mat-icon-button>
      <img class="chat__btn-icon" src="../../../assets/svg/add_circle_outline.svg" alt="">
    </button>
  </div>
  <div class="chat__write-message" [ngClass]="{'chat__write-message_short' : editMode}" contenteditable="plaintext-only"
    placeholder="Введите сообщение" (keydown.enter)="onEnter($event)" (keydown)="onKeydown($event)"
    [textContent]="editMode ? messageToEdit.content : ''" #messageInput>
  </div>
  <div class="chat__tools">
    <ng-container *ngIf="editMode; else sendMessageTemplate">
      <button class="chat__btn" mat-icon-button color="warn">
        <img class="chat__btn-icon" src="../../../assets/svg/cancelEditMessage.svg" alt="Отмена" (click)="cancelEdit()">
      </button>
      <button class="chat__btn" mat-icon-button color="primary">
        <img class="chat__btn-icon" src="../../../assets/svg/saveMessage.svg" alt="Принять"
          (click)="saveMessage(messageInput.textContent)">
      </button>
    </ng-container>
    <ng-template #sendMessageTemplate>
      <button class="chat__btn" mat-icon-button color="primary">
        <img class="chat__btn-icon" src="../../../assets/svg/send.svg" alt="Отправить"
          (click)="sendMessage(messageInput.textContent)">
      </button>
    </ng-template>


  </div>
</div>