@import "~@angular/material/theming";

@include mat-core();

$sation-primary: mat-palette($mat-blue, 700);
$sation-accent: mat-palette($mat-orange, A700);

$sation-warn: mat-palette($mat-red, 600);

$sation-theme: mat-light-theme(
  (
    color: (
      primary: $sation-primary,
      accent: $sation-accent,
      warn: $sation-warn,
    ),
  )
);
@include angular-material-theme($sation-theme);
