@import "_variables";
.sidebar {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
  }
  &__btn {
  }
  &__btn-icon {
    font-size: 32px;
    width: 32px;
  }
  &__search {
    font-size: 16px;
    flex: 0 0 85%;
    background-color: $inputBg;
    padding: 6px;
    border-radius: 4px;
  }
  &__new-chat-btn {
    margin: 6px 0 0 12px;
  }
  &__list {
    display: block;
    margin-top: 10px;
  }
}
