<div class="sidebar">
    <div class="sidebar__header">
        <button class="sidebar__btn" mat-icon-button>
            <mat-icon class="sidebar__btn-icon">menu</mat-icon>
        </button>
        <input class="sidebar__search" type="text" placeholder="Поиск">
    </div>
    <ul class="sidebar__list list-chats">
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel channel--active">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
        <li class="list-chats__channel channel">
            <div class="channel__content">
                <div class="channel__img">
                </div>
                <div class="channel__info">
                    <span class="channel__name">Никнейм</span>
                    <span class="channel__last-message">Сообщение</span>
                </div>
            </div>
            <div class="channel__last-time">
                16:00
            </div>
        </li>
    </ul>
</div>