<div class="sidebar">
  <div class="sidebar__header">
    <button class="sidebar__btn" mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon class="sidebar__btn-icon">tune</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Настройки</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Выйти</span>
      </button>
    </mat-menu>
    <input class="sidebar__search" type="text" placeholder="Поиск">
  </div>
  <button class="sidebar__new-chat-btn" mat-stroked-button color="warn" (click)="openDialogNewChat()">Новый чат</button>
  <app-chats-list class="sidebar__list" [userChats]="chatsList" *ngIf="chatsList?.length > 0">
  </app-chats-list>
</div>