:host {
  flex: 0 0 70%;
}
.choose-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  &__content {
    display: flex;
    align-items: center;
  }
  &__text {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.45);
  }
  &__btn {
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 400;
    padding: 0 4px;
    margin-left: 5px;
  }
}
