@import "_variables";

.chat {
  &__content {
    grid-area: chat-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__message {
    display: block;
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}

.content {
  &__container {
    padding: 12px 15px;
    overflow-y: auto;
    max-height: calc(100vh - 59px - 61px - 30px); //переменные
  }
  &__date {
    display: flex;
    justify-content: center;
  }
  &__date-value {
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $listScrollColor;
  &:hover {
    background-color: $listScrollHoverColor;
  }
}
