<div class="chat">
    <div class="chat__header">
        <div class="chat__channel channel">
            <span class="channel__name">Никнейм</span>
            <span class="channel__status">В сети</span>
        </div>
        <div class="chat__tools">
            <button class="chat__btn">
                <i class="chat__btn-icon fas fa-search"></i>
            </button>
            <button class="chat__btn">
                <i class="chat__btn-icon fas fa-ellipsis-v"></i>
            </button>
        </div>
    </div>
    <div class="chat__content content">
        <div class="content__container">
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--right">
                <div class="message__container message__container--green">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--right">
                <div class="message__container message__container--green">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--right">
                <div class="message__container message__container--green">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--right">
                <div class="message__container message__container--green">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
        </div>
    </div>
    <div class="chat__footer">
        <button class="chat__btn">
            <i class="chat__btn-icon fas fa-paperclip"></i>
        </button>
        <textarea class="chat__write-message" type="text"
            placeholder="Надо думать, не всё так просто с textarea"></textarea>
        <div class="chat__tools">
            <button class="chat__btn">
                <i class="chat__btn-icon far fa-laugh"></i>
            </button>
            <button class="chat__btn chat__btn--blue">
                <i class="chat__btn-icon far fa-paper-plane"></i>
            </button>
        </div>
    </div>
</div>