@import "_variables";
:host {
  flex: 0 0 70%;
}

.chat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 30px); //переменные
  overflow: hidden;
  gap: 0px 0px;
  grid-template-areas:
    "chat-header"
    "chat-content"
    "chat-footer";
}
