<div class="chat">
    <div class="chat__header">
        <div class="chat__channel channel">
            <span class="channel__name">Никнейм</span>
            <span class="channel__status">В сети</span>
        </div>
        <div class="chat__tools">
            <button class="chat__btn" mat-icon-button>
                <mat-icon class="chat__btn-icon">search</mat-icon>
            </button>
            <button class="chat__btn" mat-icon-button>
                <mat-icon class="chat__btn-icon">more_vert</mat-icon>
            </button>
        </div>
    </div>
    <div class="chat__content content">
        <div class="content__container">
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--right">
                <div class="message__container message__container--green">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--right">
                <div class="message__container message__container--green">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--right">
                <div class="message__container message__container--green">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--right">
                <div class="message__container message__container--green">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
            <div class="chat__message message message--left">
                <div class="message__container message__container--blue">
                    <p class="message__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reiciendis
                        eos
                        fugit eius animi ex pariatur perferendis earum, deleniti atque consequuntur voluptatibus optio
                        iste,
                        dolores dolorum ipsam ad praesentium dolor!</p>
                    <p class="message__time">16:06</p>
                </div>
            </div>
        </div>
    </div>
    <div class="chat__footer">
        <button class="chat__btn" mat-icon-button>
            <mat-icon class="chat__btn-icon">add_circle_outline</mat-icon>
        </button>
        <input class="chat__write-message" #messageInput>
        <div class="chat__tools">
            <!-- <button class="chat__btn" mat-icon-button>
                <mat-icon class="chat__btn-icon">mood</mat-icon>
            </button> -->
            <button class="chat__btn" mat-icon-button color="primary">
                <mat-icon class="chat__btn-icon" (click)="sendMessage(messageInput.value)">send</mat-icon>
            </button>
        </div>
    </div>
</div>